@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1480401583739'); /* IE9*/
  src: url('iconfont.eot?t=1480401583739#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1480401583739') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1480401583739') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1480401583739#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

.icon-canju:before { content: "\e600"; }

.icon-weixin:before { content: "\e601"; }

.icon-huishouzhan:before { content: "\e656"; }

.icon-meiguihua:before { content: "\e62e"; }

.icon-cart:before { content: "\e698"; }

.icon-zhifubao:before { content: "\e6ab"; }

.icon-youhuiquan:before { content: "\e625"; }

.icon-huishouzhan1:before { content: "\e721"; }

.icon-user:before { content: "\e6a3"; }

.icon-wancheng:before { content: "\e610"; }

.icon-feedback:before { content: "\e61b"; }

.icon-zhuye:before { content: "\e602"; }

.icon-xuanze:before { content: "\e665"; }

.icon-zhuyi2:before { content: "\e622"; }

.icon-peisongzhong:before { content: "\e671"; }

.icon-zhifuwenti:before { content: "\e64b"; }

.icon-tianjia:before { content: "\e61c"; }

.icon-shijian:before { content: "\e626"; }

.icon-chicun:before { content: "\e64c"; }

.icon-banjiapeisong:before { content: "\e650"; }

.icon-shangcheng:before { content: "\e706"; }

.icon-baozhuanggongneng:before { content: "\e60f"; }

.icon-shiyongbangzhu:before { content: "\e618"; }

.icon-xuanze1:before { content: "\e695"; }

.icon-chidouren2:before { content: "\e604"; }

.icon-zititubiaojianshaofangxinglunkuo:before { content: "\e691"; }

.icon-quanzi:before { content: "\e603"; }

.icon-gerenziliao:before { content: "\e60a"; }

.icon-quanbudingdan-01:before { content: "\e611"; }

.icon-icon_gerenzhongxin:before { content: "\e635"; }

.icon-kefu--:before { content: "\e627"; }

.icon-watering-copy:before { content: "\e7bf"; }

