doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no')
    title 优力克
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-status-bar-style', content='black')
    meta(name='format-detection', content='telephone=no')
    link(rel='shortcut icon', type='image/x-icon', href='/static/favicon.ico')
    link(rel='bookmark', type='image/x-icon', href='/static/favicon.ico')
    link(rel='stylesheet', type='text/css', href='/static/css/sm.min.css')
    link(rel='stylesheet', type='text/css', href='/static/css/sm-extend.min.css')
  body
    .page-group
      .page.page-current
        #unique
          unique-cake
    script(type='text/javascript', src='/static/js/zepto.min.js', charset='utf-8')
    script(type='text/javascript') $.config = { router: false }
    script(type='text/javascript', src='/static/js/sm.min.js', charset='utf-8')
    script(type='text/javascript', src='/static/js/sm-extend.min.js', charset='utf-8')
    script(type='text/javascript', src='/static/js/pingpp.min.js', charset='utf-8')
