/*大尺寸屏幕界面优化*/
@media screen and (min-width: 614px) {
    .content ,header{
        width: 24rem;
        margin: 0 auto
    }
    .page>.content,.page>header {
        box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.3);
    }
    .ware-wrap {
        width: 26% !important;
        margin: 3% 0 3% 5% !important;
    }
    #Tel{
        width: 24rem !important;
    }
    .row{
        margin-left: 0 !important
    }
}

/*通用样式*/
ul,
li {
    list-style: none;
    margin: 0;
    padding: 0
}
.bar-sec{
    margin-top: 0.4rem;
    background-color: #1a7ace
}
.bar-sec~.content{
    top: 3rem
}
header.bar{
    background-color: #1a7ace;
}
header.bar .title,header .icon{
    color: #fdfefe !important
}
.dark-blue,.modal-button{
    color: #1975c8 !important;
}
@font-face {
    font-family: 'webFont';
    src: url('../fonts/webFont.eot');
    src: url('../fonts/webFont.eot?#iefix') format('embedded-opentype'),
            url('../fonts/webFont.woff') format('woff'),
            url('../fonts/webFont.ttf') format('truetype'), 
            url('../fonts/webFont.svg') format('svg'),
            url('../fonts/webFont.otf') format('otf');
    font-weight: normal;
    font-style: normal;
}

.webFont{
    font-family: 'webFont'
}
/*主体背景色*/
#index>.content {
    background-color: #fdfefe
}

/*底部导航颜色*/
nav.bar {
    background-color: #444a5a;
}
.bar-tab .tab-item.active,
.bar-tab .tab-item:active {
    color: #1777cb;
}
.bar-tab .tab-item {
    color: #fdfefe;
}
.bar-tab:before {
    background-color: #444a5a
}

/*主页面*/
#tab1>.content{
    background: url("../img/hBg.jpg") no-repeat top center;
    background-size: contain;
    bottom: 2.5rem
}
#tab1 a{
    color: #2d2d2d;
    display: block;
    width: 3.4rem;
    height: 5rem;
    padding:  1rem 1rem;
    position: absolute;
    transform: skew(139deg);
}
#tab1 a span{
    font-size: 1rem;
    transform: skew(41deg);
    display: block
}
#tab1-turn1{
    background-color: rgba(178,235,173,0.67);
    bottom: 7rem;
    left: 12rem
}
#tab1-turn2{
    background-color: rgba(173,235,235,0.67);
    bottom: 4rem;
    left: 7.4rem
}
#tab1-turn3{
    background-color: rgba(239,168,146,0.67);
    bottom: 2.5rem;
    left: 8.8rem
}
#tab1-turn4{
    background-color: rgba(25,117,200,0.67);
    bottom: 0;
    left: 3.6rem;
}

/*分类蛋糕页面顶部边距*/
#tab2>.content{
    bottom: 2.5rem
}
#tab2 header~.content {
    top: 2rem;
}

/*分类蛋糕顶部导航颜色*/
#tab2 .buttons-tab .button,
#tab2 .buttons-tab .button.active {
    color: #f7f7f7;
    background-color: #1777cb;
}

/*分类蛋糕顶部选中类别边框*/
#tab2 .buttons-tab .button.active {
    border-color: #5cecec;
}
#tab2 .buttons-tab .button {
    border-bottom: 3px solid transparent
}

/*分类蛋糕列表样式*/
#tab2 .webFont{
    font-weight: bold
}
.ware-wrap{
    float: left;
    width: 38%;
    margin: 3% 0 3% 8%;
    box-sizing: border-box;
    position: relative;
}

.ware-wrap>a{
    display: block;
}

.ware-wrap>a>img {
    width: 100%;
    box-shadow: 0px 0px 16px 1px rgba(0, 0, 0, 0.2);
}
.ware-detail{
    background-color: rgba(32,32,32,0.45);
    position: absolute;
    bottom: 0.36rem;
    left: 0;
    right: 0;
    color: #fff;
    padding: 0.2rem;
}
.ware-detail>div{
    max-width: 66%
}
.ware-detail h5{
    margin: 0;
    font-size:  0.6rem;
    line-height: 1.6;
}
.ware-detail p{
    margin: 0;
    font-size: 0.5rem;
    line-height: 1.3;
}
.ware-detail span{
    font-size: 0.8rem;
    line-height: 1.3;
    margin-right:0.5rem 
}
.ware-buy{
    position: absolute;
    right: 0.2rem;
    top: 10%;
}

/*照片定制界面样式*/
#tab3 .content{
    background-color: #fbfafa;
    bottom: 2.5rem
}
/*购物车界面样式*/
#tab4>.content{
    bottom: 5rem
}
#no-ware{
    color: #1c72c1;
    text-align: center;
    margin-top: 8rem;
}
#no-ware span{
    font-size: 1.8rem
}
#no-ware h4{
    margin: 0;
    font-weight: normal
}
#tab4 .bar-sec .col-50{
    text-align: center;
    line-height: 2.2rem;
    color: #222;
    float: left;
    width: 50%
}
#tab4 .bar-sec .icon{
    color: #fdfefe;
}
.order-list{
    margin: 0;
}
.order-list>li{
    background-color: #1975c8
}
.icon-form-checkbox{
    background-color: #fdfefe !important;
    border-radius: 0 !important;
    width: 0.9rem !important;
    height: 0.9rem !important
}
html:not(.watch-active-state) label.label-checkbox:active, label.label-checkbox.active-state{
    background-color: #176ab3;
}
label.label-checkbox input[type=checkbox]:checked+.item-media i.icon-form-checkbox:after, label.label-checkbox input[type=radio]:checked+.item-media i.icon-form-checkbox:after{
    position: absolute;
    top: .2rem;
    left: .3rem;
    width: 100%;
    height: 100%;
    box-shadow:0px 0px 4px 2px rgba(255, 255, 255, 0.3);
    background-color: #1975c8;
}
.button-checked{
    border: none !important;
    background-color: #1975c8 !important;
}
.button-checked:after{
    position: absolute !important;
    top: .2rem !important;
    left: .3rem !important;
    width: 100% !important;
    height: 100% !important;
    box-shadow:0px 0px 4px 2px rgba(255, 255, 255, 0.3) !important;
    background: no-repeat center !important;
    background-size: .6rem .45rem !important;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20x%3D'0px'%20y%3D'0px'%20viewBox%3D'0%200%2012%209'%20xml%3Aspace%3D'preserve'%3E%3Cpolygon%20fill%3D'%23ffffff'%20points%3D'12%2C0.7%2011.3%2C0%203.9%2C7.4%200.7%2C4.2%200%2C4.9%203.9%2C8.8%203.9%2C8.8%203.9%2C8.8%20'%2F%3E%3C%2Fsvg%3E") !important
}
.order-list img{
    width: 6rem;
    margin-left: .75rem
}
.order-list .item-inner{
    color: #222
}
.order-list .item-inner .pull-right{
    line-height: 2.1rem
}
.order-list .item-inner span{
    color: #fdfefe;
    margin:  0 .3rem
}
.order-list .item-text{
    line-height: 2.1rem;
    color: #222
}
#buy-now{
    width: 100%;
    height: 2.5rem;
    position: absolute;
    bottom: 2.5rem;
    left: 0;
    line-height: 2.5rem
}
#buy-now .list-block{
    margin: 0;
    width: 70%;
    background-color: #1a7ace;
    color: #222
}
#buy-now .list-block .item-inner:after{
    background-color: #1a7ace;
}
#buy-now .item-inner{
    padding: 0 .6rem 0 0;
    box-sizing: border-box;
}
.order{
    background-color: #dfba76;
    text-align: center;
    width:30%;
    float:left;
}
/*个人中心样式*/
#tab5>.content{
    bottom:2.5rem;
}
#tab5 .list-block {
    margin: 0;
}
#tab5 .bar {
    height: 7rem;
    color: #fdfefe;
    text-align: center;
    padding-top: .85rem
}
#tab5 .bar img {
    width: 4rem;
    height: 4rem;
    border-radius: 2rem
}
#tab5 .bar a {
    color: #fdfefe
}
#tab5 .bar-nav~.content {
    top: 7rem
}
#tab5 .item-title>i {
    font-style: normal;
    margin: 0 0.2rem
}
#tab5 .list-block .item-content {
    padding: 0 0.75rem;
}
#tab5 .content a{
    display: block;
    width: 100%;
    color: #6d6d72
}
#Tel {
    width: 100%;
    height: 2.2rem;
    text-align: center;
    background-color: #fff;
    margin-top: 1rem;
    border:  1px solid #f7f7f7
}
#Tel span {
    font-size: .85rem;
    line-height: 2.2rem;
    margin: 0 0.3rem;
    color: #222
}
