#aboutUs .content {
    background-color: #fdfefe;
    text-indent: 2em
}

#confirmOrder .content {
    background-color: #fdfefe;
}

#confirmOrder header a {
    color: #222;
}

.picker-modal .bar .button-link {
    color: #fff
}

.picker-modal .bar .title {
    color: #222 !important
}

#confirmOrder .address {
    text-align: center;
    line-height: 2.2rem;
}

.order-about {
    margin: 0
}

#order-now {
    width: 100%;
    height: 2.5rem;
    position: absolute;
    bottom: 0rem;
    left: 0;
    line-height: 2.5rem
}

#order-now .list-block {
    margin: 0;
    width: 70%;
    background-color: #1a7ace;
    color: #222
}

#order-now .list-block .item-inner:after {
    background-color: #1a7ace;
}

#order-now .item-inner {
    padding: 0 .6rem 0 0;
    box-sizing: border-box;
}

.order-about i {
    font-style: normal;
    padding: 0 .4rem;
    width: 28%;
    box-sizing: border-box;
}

.order-about span {
    width: 72%
}

.distributionFee {
    text-align: right;
    font-size: .65rem;
    margin: .2rem 1rem
}

.order-list-wrap {
    bottom: 2.5rem;
    padding-bottom: 0.4rem
}

.pay-way-title {
    font-size: .65rem;
    margin: .2rem 1rem
}

#confirmOrder:not(.watch-active-state) .list-block .item-link:active {
    background-color: #fcfcfc;
}

html:not(.watch-active-state) .pay-way label.label-checkbox:active,
.pay-way label.label-checkbox.active-state {
    background-color: #fcfcfc;
}

#fastLoginPage .content {
    background-color: #fdfefe;
}

#fastLoginPage .address {
    margin: .4rem 1.4rem;
    height: 2.4rem;
}

#fastLoginPage .address .label {
    width: 28% !important
}

#fastLoginPage .input {
    font-size: .8rem !important;
    line-height: 2.15rem !importane
}

#fastLogin-now {
    text-align: center;
    background-color: #1a7ace;
    margin: 1.2rem auto 0;
    height: 1.8rem;
    line-height: 1.8rem
}

#fastLog-identify {
    width: 55%
}

#fastLoginPage .signin-turn {
    font-size: .75rem;
    color: #ccc;
    margin: .6rem
}

#fastGet-identify {
    width: 45%;
    line-height: 1.5rem;
    margin-top: .2rem;
    padding: 0;
    background-color: #1a7ace;
    border: none;
    transition: all ease .3s
}

#fastGet-identify:active {
    background-color: #176ab3;
}

.content {
    background-color: #fdfefe
}

.content-block {
    margin: 0;
    padding: 0;
}

.item-input textarea {
    width: 90%;
    height: 8rem;
    margin: 1rem 5% 0 5%;
    background-color: #fdfefe;
    border: none;
    box-shadow: none;
    transition: all ease .3s
}

.item-input textarea:focus {
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.2);
}

#fed-submit {
    text-align: center;
}

#fed-submit a {
    display: block;
    width: 4.8rem;
    height: 2.4rem;
    background-color: #1975c8;
    color: #000;
    line-height: 2.4rem;
    margin: 0 auto
}

#loginPage .content {
    background-color: #fdfefe;
}

#loginPage .address {
    margin: .4rem 1.4rem;
    height: 2.4rem;
}

#loginPage .address .label {
    width: 28% !important
}

#loginPage .input {
    font-size: .8rem !important;
    line-height: 2.15rem !importane
}

#login-now {
    text-align: center;
    background-color: #1a7ace;
    margin: 1.2rem auto 0;
    height: 1.8rem;
    line-height: 1.8rem
}

#loginPage .signin-turn {
    font-size: .75rem;
    color: #ccc;
    margin: .6rem
}

#myAddress .content {
    background-color: #fdfefe;
}

#myAddress .content-block {
    margin: 0;
    padding: 0;
}

#myAddress .ready-address {
    margin: .6rem 1.2rem;
    height: 2.4rem;
}

#myAddress .ready-address h4,
#myAddress .ready-address p {
    margin: 0;
    font-weight: normal
}

#myAddress .ready-address p {
    font-size: .65rem
}

#myAddress .add,
#myAddress .add:active {
    display: block;
    width: 100%;
    height: 2.2rem;
    line-height: 2.2rem;
    text-align: center;
    background-color: #1975c8;
    color: #000;
    font-size: .8rem;
    margin-top: .6rem
}

#myAddress .ready-address .label {
    width: 20% !important
}

#myAddress .input {
    font-size: .8rem !important;
    line-height: 2.15rem !importane
}

#myAddress .ready-address .icon {
    font-size: .7rem
}

.address-detail {
    width: 64%
}

#myAddress .badge {
    margin: .2rem
}

.content {
    background-color: #fdfefe
}

.content-block {
    margin: 0;
    padding: 0;
}

#no-coupon {
    text-align: center;
    margin-top: 8rem
}

#no-coupon a {
    color: inherit;
    font-family: inherit;
    font-size: 0.7rem
}

#myOrders .content {
    background-color: #f8fafc
}

.content-block {
    margin: 0;
    padding: 0;
}

#no-order {
    text-align: center;
    margin-top: 8rem
}

#no-order a {
    display: block;
    width: 4.8rem;
    height: 2.4rem;
    background-color: #1975c8;
    color: #000;
    line-height: 2.4rem;
    margin: 0 auto
}

#newAddress .content {
    background-color: #fdfefe;
}

#newAddress .address {
    margin: .4rem 2rem;
    height: 2.4rem;
}

#newAddress .add,
#newAddress .add:active {
    display: block;
    width: 100%;
    height: 2.2rem;
    line-height: 2.2rem;
    text-align: center;
    background-color: #1975c8;
    color: #000;
    font-size: .8rem
}

#newAddress .address .label {
    width: 20% !important
}

#newAddress .input {
    font-size: .8rem !important;
    line-height: 2.15rem !importane
}

#wareDetail>.content {
    background-color: #dbe0e4;
    bottom: 2.5rem
}

#wareDetail h5,
#wareDetail h6,
#wareDetail p {
    margin: 0
}

#wareDetail .active {
    background-color: #1676ca
}

.detail-img {
    background-color: #fff;
    margin: 0 1.6rem;
    padding: 0 12% 2%
}

.detail-img>img {
    width: 100%
}

.detail-img>h6 {
    margin: 0 0 .4rem
}

.detail-img>p {
    font-size: .65rem
}

.detail-dishes,
.detail-weight {
    margin: .4rem 1.6rem;
}

.detail-dishes>div,
.detail-weight>div {
    font-size: 0;
    border-right: 1px #ccc solid;
}

.dishTab,
.weightTab {
    display: inline-block;
    border: 1px #ccc solid;
    border-right: none;
    font-size: .85rem;
    text-align: center;
    background-color: #fff;
    line-height: 1.4rem
}

.dishTab {
    width: 33.33%
}

.weightTab {
    width: 25%
}

.detail-detail {
    padding: 0 2.4rem .4rem;
    font-size: 0;
    border-bottom: 1px #ccc solid
}

.detail-detail>div {
    display: inline-block;
    width: 50%;
    font-size: .75rem
}

.detail-notice {
    margin: 0 2.4rem 2.2rem;
}

.detail-notice>h5 {
    margin-top: .4rem !important
}

.detail-notice>p {
    font-size: .75rem
}

.detail-phone {
    width: 100%;
    text-align: center;
    font-size: .65rem
}

#detail-handle {
    width: 100%;
    height: 2.5rem;
    position: absolute;
    bottom: 0rem;
    left: 0;
    line-height: 2.5rem;
    text-align: center;
    font-size: 0
}

#detail-handle>div {
    display: inline-block;
    font-size: .85rem
}

#detail-price {
    width: 40%;
    background-color: #1a7ace;
    color: #222
}

#detail-shopcar {
    width: 30%;
    background-color: #f7fbfe;
}

#detail-buy {
    width: 30%;
    background-color: #dfba74;
}

#detail-buy a {
    color: #222
}

#registPage .content {
    background-color: #fdfefe;
}

#registPage .list-block .item-inner {
    padding-right: 0
}

#registPage .address {
    margin: .4rem 1.4rem;
    height: 2.4rem;
}

#registPage .address .label {
    width: 28% !important
}

#registPage .input {
    font-size: .8rem !important;
    line-height: 2.15rem !importane
}

#regist-now {
    text-align: center;
    background-color: #1a7ace;
    margin: 1.2rem auto 0;
    height: 1.8rem;
    line-height: 1.8rem
}

#registPage .signin-turn {
    font-size: .75rem;
    color: #ccc;
    margin: .6rem
}

#reg-identify {
    width: 55%
}

#get-identify {
    width: 45%;
    line-height: 1.5rem;
    margin-top: .2rem;
    padding: 0;
    background-color: #1a7ace;
    border: none;
    transition: all ease .3s
}

#get-identify:active {
    background-color: #176ab3;
}

#userAgreement .content {
    background-color: #fdfefe;
    text-indent: 2em
}
