#aboutUs
  .content
    background-color #fdfefe
    text-indent 2em

#confirmOrder
  .content
    background-color #fdfefe
  header
    a
      color #222
  .address
    text-align center
    line-height 2.2rem
  &:not(.watch-active-state)
    .list-block
      .item-link
        &:active
          background-color #fcfcfc

.picker-modal
  .bar
    .button-link
      color #fff
    .title
      color #222 !important

.order-about
  margin 0
  i
    font-style normal
    padding 0 .4rem
    width 28%
    box-sizing border-box
  span
    width 72%

#order-now
  width 100%
  height 2.5rem
  position absolute
  bottom 0rem
  left 0
  line-height 2.5rem
  .list-block
    margin 0
    width 70%
    background-color #1a7ace
    color #222
    .item-inner
      &:after
        background-color #1a7ace
  .item-inner
    padding 0 .6rem 0 0
    box-sizing border-box

.distributionFee
  text-align right
  font-size .65rem
  margin .2rem 1rem

.order-list-wrap
  margin-top 3rem
  padding-bottom 2.9rem

.pay-way-title
  font-size .65rem
  margin .2rem 1rem

html:not(.watch-active-state) .pay-way label.label-checkbox:active,
.pay-way label.label-checkbox.active-state
  background-color #fcfcfc

#fastLoginPage
  .content
    background-color #fdfefe
  .address
    margin .4rem 1.4rem
    height 2.4rem
    .label
      width 28% !important
  .input
    font-size .8rem !important
    line-height 2.15rem !importane
  .signin-turn
    font-size .75rem
    color #ccc
    margin .6rem

#fastLogin-now
  text-align center
  background-color #1a7ace
  margin 1.2rem auto 0
  height 1.8rem
  line-height 1.8rem

#fastLog-identify
  width 55%

#fastGet-identify
  width 45%
  line-height 1.5rem
  margin-top .2rem
  padding 0
  background-color #1a7ace
  border none
  transition all ease .3s
  &:active
    background-color #176ab3

.content
  background-color #fdfefe
  background-color #fdfefe

.content-block
  margin 0
  padding 0
  margin 0
  padding 0
  margin 0
  padding 0

.item-input
  textarea
    width 90%
    height 8rem
    margin 1rem 5% 0 5%
    background-color #fdfefe
    border none
    box-shadow none
    transition all ease .3s
    &:focus
      box-shadow 0px 0px 10px 1px rgba(0, 0, 0, 0.2)

#fed-submit
  text-align center
  a
    display block
    width 4.8rem
    height 2.4rem
    background-color #1975c8
    color #000
    line-height 2.4rem
    margin 0 auto

#loginPage
  .content
    background-color #fdfefe
  .address
    margin .4rem 1.4rem
    height 2.4rem
    .label
      width 28% !important
  .input
    font-size .8rem !important
    line-height 2.15rem !importane
  .signin-turn
    font-size .75rem
    color #ccc
    margin .6rem

#login-now
  text-align center
  background-color #1a7ace
  margin 1.2rem auto 0
  height 1.8rem
  line-height 1.8rem

#myAddresses
  .content
    background-color #fdfefe
  .content-block
    margin 0
    padding 0
  .ready-address
    margin .6rem 1.2rem
    height 2.4rem
    p
      font-size .65rem
    .label
      width 20% !important
    .icon
      font-size .7rem
  .input
    font-size .8rem !important
    line-height 2.15rem !importane
  .badge
    margin .2rem

#myAddresses .ready-address h4,
#myAddresses .ready-address p
  margin 0
  font-weight normal

#myAddresses .add,
#myAddresses .add:active
  display block
  width 100%
  height 2.2rem
  line-height 2.2rem
  text-align center
  background-color #1975c8
  color #000
  font-size .8rem
  margin-top .4rem

.address-detail
  width 64%

#no-coupon
  text-align center
  margin-top 8rem
  a
    color inherit
    font-family inherit
    font-size 0.7rem

#myOrders
  .content
    background-color #f8fafc

.no-order
  text-align center
  margin-top 8rem
  a
    display block
    width 4.8rem
    height 2.4rem
    background-color #1975c8
    color #000
    line-height 2.4rem
    margin 0 auto

.o-order
  background-color #fff
  margin .6rem 0 0
  padding .4rem .6rem 0
  img
    width 30%
  .button
    width 40%
    margin-left 60%

.o-order-info
  width 70%
  float right
  padding-left .6rem
  p
    margin .6rem 0
    font-size .7rem

.o-wait
  color #ff6600

#newAddress
  .content
    background-color #fdfefe
  .address
    margin .4rem 2rem
    height 2.4rem
    .label
      width 20% !important
  .input
    font-size .8rem !important
    line-height 2.15rem !importane

#newAddress .add,
#newAddress .add:active
  display block
  width 100%
  height 2.2rem
  line-height 2.2rem
  text-align center
  background-color #1975c8
  color #000
  font-size .8rem

#wareDetail
  & > .content
    background-color #dbe0e4
    bottom 2.5rem
  .active
    background-color #1676ca

#wareDetail h5,
#wareDetail h6,
#wareDetail p
  margin 0

.detail-img
  background-color #fff
  margin 0 1.6rem
  padding 0 12% 2%
  & > img
    width 100%
  & > h6
    margin 0 0 .4rem
  & > p
    font-size .65rem

.detail-dishes,
.detail-weight
  margin .4rem 1.6rem

.detail-dishes>div,
.detail-weight>div
  font-size 0
  border-right 1px #ccc solid

.dishTab,
.weightTab
  display inline-block
  border 1px #ccc solid
  border-right none
  font-size .85rem
  text-align center
  background-color #fff
  line-height 1.4rem

.dishTab
  width 33.33%

.weightTab
  width 25%

.detail-detail
  padding 0 2.4rem .4rem
  font-size 0
  border-bottom 1px #ccc solid
  & > div
    display inline-block
    width 50%
    font-size .75rem

.detail-notice
  margin 0 2.4rem 2.2rem
  & > h5
    margin-top .4rem !important
  & > p
    font-size .75rem

.detail-phone
  width 100%
  text-align center
  font-size .65rem

#detail-handle
  width 100%
  height 2.5rem
  position absolute
  bottom 0rem
  left 0
  line-height 2.5rem
  text-align center
  font-size 0
  & > div
    display inline-block
    font-size .85rem

#detail-price
  width 40%
  background-color #1a7ace
  color #222

#detail-shopcar
  width 30%
  background-color #f7fbfe

#detail-buy
  width 30%
  background-color #dfba74
  a
    color #222

#registPage
  .content
    background-color #fdfefe
  .list-block
    .item-inner
      padding-right 0
  .address
    margin .4rem 1.4rem
    height 2.4rem
    .label
      width 28% !important
  .input
    font-size .8rem !important
    line-height 2.15rem !importane
  .signin-turn
    font-size .75rem
    color #ccc
    margin .6rem

#regist-now
  text-align center
  background-color #1a7ace
  margin 1.2rem auto 0
  height 1.8rem
  line-height 1.8rem

#reg-identify
  width 55%

#get-identify
  width 45%
  line-height 1.5rem
  margin-top .2rem
  padding 0
  background-color #1a7ace
  border none
  transition all ease .3s
  &:active
    background-color #176ab3

#userAgreement
  .content
    background-color #fdfefe
    text-indent 2em

